.datecountdown {
  font-family: "Syncopate", sans-serif;
  text-align: center;
  .location {
    margin-top: 10px;
    a {
      font-family: "Syncopate", sans-serif;
      font-weight: 600;
      font-size: 5vw;
      text-decoration: none;
      word-spacing: normal;
      color: inherit;
    }
    font-family: "Syncopate", sans-serif;
    font-weight: 600;

    font-size: 5vw;
    margin-top: 10px;
    text-transform: uppercase;

    opacity: 0;
    &.is-reveal {
      opacity: 1;
    }
  }
  
}


.time {
  font-size: 32px;
}

.timerwrapper {
  display: flex;
  justify-content: space-around;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}
