.footer-wrapper {
  background-image:  url("../../assets/Photos/converted/8.jpeg");
  margin-left: -5vw;
  margin-right: -5vw;
  background-size: 700px;
  background-position: top;
  @media only screen and (min-width: 600px) {
    background-size: cover;
  }
}

.footer {
  font-family: "Syncopate", sans-serif;
  text-align: center;
  padding-bottom: 200px;
  .location {
    margin-top: 10px;
    a {
      font-family: "Syncopate", sans-serif;
      font-weight: 600;
      font-size: 5vw;
      text-decoration: none;
      word-spacing: normal;
      color: black;
    }
    font-family: "Syncopate", sans-serif;
    font-weight: 600;

    font-size: 5vw;
    margin-top: 10px;
    text-transform: uppercase;

    opacity: 0;
    &.is-reveal {
      opacity: 1;
    }
  }
}
