.section-header {
  @media only screen and (max-width: 375px) {
    font-size: small;
  }
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Syncopate", sans-serif;
  color: #626262;
}

.section-header-footer {
  text-transform: uppercase;
  font-size: 10vh;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Syncopate", sans-serif;
  color: #626262;
}
